ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1,h2,h3 {
    color: red;
}

h1.main-title {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.programming-languages li:nth-child(-n+3) {
    color: blue;
}

.programming-languages li:nth-child(-n+3):not(:first-child) {
    background-color: magenta;
}

ul li a:hover {
    font-weight: bold;
}

#stack:hover {
    color: rgb(244, 127, 36);
}

#w3schools:hover {
    color: rgb(4, 170, 109);
}

#mdn:hover {
    color: #1b1b1b;
}

#devdocs:hover {
    color: yellow;
}

#trybe:hover {
    color: #065220;
}