body {
  background-color: rgb(53, 53, 53);
}

h1 {
  color: white;
  margin-top: 10rem;
}

.form-container {
  background-color: rgb(57, 94, 197);
  border-radius: 10px;
  margin: auto;
  padding: 3rem;
  width: 35vw;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form-inputs input {
  border: 0;
  border-radius: 4px;
  border-width:0;
  margin-top: 1rem;
  padding: 1rem;
}

.form-inputs button {
  background-color: rgb(255, 205, 77);
  border: 0;
  border-radius: 4px;
  border-width:0;
  color: rgb(18, 0, 182);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  padding: 1rem;
}

.form-inputs button:hover {
  background-color: rgb(178, 84, 255);
  color: white;
}

.radio-container {
  color: white;
  text-align: left;
}

h4 {
  color: white;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
  text-align: center;
}