div:hover {
   outline: 10px solid grey;
}

div:nth-child(3) {
    background-color: red;
    box-shadow: 0 0 0 10px red;
}

div:nth-child(4) {
    background-color: purple;
    box-shadow: 0 0 0 10px purple;
    color: white;
}

div:nth-child(5) {
    background-color: yellow;
    box-shadow: 0 0 0 10px yellow;
    display: inline-block;
    width: 100%;
    height: 100%;
}

div:nth-child(6) {
    background-color: navy;
    box-shadow: 0 0 0 10px navy;
    color: white;
}

div:nth-child(7) {
    background-color: aqua;
    box-shadow: 0 0 0 10px aqua;
}

h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}

div:nth-child(odd) {
    font-style: italic;
}